.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100svh;
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5;
}

.game-title {
    font-size: 32px;
    text-decoration: underline;
}

.score-container {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 20px;
    max-width: 580px;
}

.game-board-container {
    border: 2px solid #000;
    border-radius: 10px;
    width: 80%;
    max-width: 620px;
}

.score {
    font-size: 16px;
    font-weight: bold;
}

.timer {
    font-size: 16px;
    font-weight: bold;
}

.player-greeting {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: right;
    margin-right: 20px;
    font-weight: bold;
}

.game-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
}

@media screen and (max-width: 576px) {
    .game-title {
        font-size: 24px;
    }
}